---
layout: default
title: Home
---
<h2 class="post-head-title">Recent Post</h2>
<br>
<div class="tags-expo">
  <div class="tags-expo-section">
    <ul class="tags-expo-posts">
      {% for post in paginator.posts %}
        <big class="post-date">{{ post.date | date_to_string }}</big>
        <li>
            <a class="post-title" href="{{ post.url }}">{{ post.title }} </a>
        </li>
      <br>
      {% endfor %}
    </ul>
  </div>
</div>


{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    &nbsp;&nbsp;
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
<hr/>
