--- 
layout: page 
title: CATEGORY 
--- 

<div class="tags-expo"> 
  <div class="tags-expo-list"> 
   </div> 
   <hr/> 
   <div class="tags-expo-section"> 
     {% for nav in site.nav %}
      {% assign sub_len = nav[1] | size | minus: 1 %}
        {% for i in (1..sub_len) %}
          {% for sub_nav in nav[1][i] %} 
            <h2 id="{{ {{ sub_nav[0] }} | slugify }}">{{ sub_nav[0] }}</h2>
            {% for tag in site.categories %} 
            <h2 id="{{ tag[0] | slugify }}"><a href="/Category/{{ tag[0] }}" style="color: black">■{{ tag[0] }}</a></h2> 
            <ul class="tags-expo-posts"> 
              {% for post in tag[1] %} 
                <a class="post-title" href="{{ site.baseurl }}{{ post.url }}" style="color: rgb(105, 99, 99)"> 
              <li> 
                {{ post.title }} 
              <small class="post-date">{{ post.date | date_to_string }}</small> 
              </li> 
              </a> 
              {% endfor %} 
              <hr/>
            </ul> 
            {% endfor %} 
          {% endfor %}
        {% endfor %} 
    {% endfor %}  
   </div> 
 </div> 
