--- 
layout: page 
title: CATEGORY 
--- 


<div class="tags-expo"> 
  <div class="tags-expo-list"> 
    <br>
    <br>
      {% for tag in site.categories %} 
        <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a> 
      {% endfor %}
      
   </div> 
   <hr/> 
   <div class="tags-expo-section"> 
     {% for nav in site.nav %}
      {% assign sub_len = nav[1] | size | minus: 1 %}
        {% for i in (1..sub_len) %}
          {% for sub_nav in nav[1][i] %} 
        
                <h2 id="{{ sub_nav[0] | slugify }}">{{ sub_nav[0] }}</h2>
              
            {% for tag in site.categories %} 
              {% if sub_nav[0] == 'Programming' %}
                {% if tag[0] == '알고리즘' or tag[0] == 'Django' or tag[0] == 'Java' or tag[0] == 'Javascript' or tag[0] == 'Python' %}
              
                  <a href="/Category/{{ tag[0] }}" style="color: black">
                    <i class="fa fa-square fa-1x" aria-hidden="true" style="color: black"></i><font size="5">&nbsp;<h3 id="{{ tag[0] | slugify }}">{{ tag | first }} ({{ tag | last | size }})</h3></font>
                  </a>
              
                  <ul class="tags-expo-posts"> 
                    {% for post in tag[1] %} 
                      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}" style="color: rgb(114, 105, 110)"> 
                    <li> 
                      {{ post.title }} 
                    <small class="post-date">{{ post.date | date_to_string }}</small> 
                    </li> 
                    </a> 
                    {% endfor %} 
                    
                  </ul> 
                {% endif %}
              {% endif %}
              {% if sub_nav[0] == 'Cloud'' %}
                {% if tag[0] == 'Docker' or tag[0] == 'Kubernetes' %}

                <h3 id="{{ tag[0] | slugify }}"><a href="/Category/{{ tag[0] }}" style="color: black">
                  <i class="fa fa-square fa-1x" aria-hidden="true" ></i>&nbsp;{{ tag | first }} ({{ tag | last | size }})
                </a></h3>
                  <ul class="tags-expo-posts"> 
                    {% for post in tag[1] %} 
                      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}" style="color: rgb(105, 99, 99)"> 
                    <li> 
                      {{ post.title }} 
                    <small class="post-date">{{ post.date | date_to_string }}</small> 
                    </li> 
                    </a> 
                    {% endfor %} 
                    
                  </ul> 
                {% endif %}
              {% endif %}
              {% if sub_nav[0] == 'Blog' %}
                {% if tag[0] == '환경설정' %}

                <h3 id="{{ tag[0] | slugify }}"><a href="/Category/{{ tag[0] }}" style="color: black">
                  <i class="fa fa-square fa-1x" aria-hidden="true" ></i>&nbsp;{{ tag | first }} ({{ tag | last | size }})
                </a></h3>
                  <ul class="tags-expo-posts"> 
                    {% for post in tag[1] %} 
                      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}" style="color: rgb(105, 99, 99)"> 
                    <li> 
                      {{ post.title }} 
                    <small class="post-date">{{ post.date | date_to_string }}</small> 
                    </li> 
                    </a> 
                    {% endfor %} 
                    
                  </ul> 
                {% endif %}
              {% endif %}
            {% endfor %} 
          {% endfor %}
          <hr/>
        {% endfor %} 
        
    {% endfor %}  
   </div> 
 </div> 
