<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  {% seo %}

  <body>
  <style>
  .top {
  position: fixed;
  bottom: 40px;
  right: -100px;
	z-index: 1;
	width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
	background-color:  #9a9a9a;
	color: #000000;
	cursor: pointer;
	transition: all .25s ease;
	opacity: .7;
  

}

@media only screen and (max-width: 600px) {
  .top {
    bottom: 25px;
    
  }
}  
  </style>
  <script>
    $(".top").click(function() {
    $("html, body")
      .stop()
      .animate({ scrollTop: 0 }, "slow", "swing");
  });
  $(window).scroll(function() {
    if ($(this).scrollTop() > $(window).height()) {
      $(".top").addClass("is-active");
    } else {
      $(".top").removeClass("is-active");
    }
  });  
  </script>
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
         <div class="wrap">
           <div class="masthead">
             <div class="container">
              <h3 class="masthead-title" style="color: black">
     
                 <a href="{{ site.baseurl }}/" title="Home" title="{{ site.title }}">
                  {{ site.tagline }} 
                 </a>
          
                 <a href="/blog/search"><i class="nav__icon nav__icon-search ion ion-md-search"></i></a>
              </h3>

             </div>
             
             
           </div>
      <div class="container content">
        {{ content }}
      </div>
      <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
      <footer>
          <div id="footer" class="mastfooter">
              <div class="container_body">
                <a href="https://github.com/sanggil1107">
                    <i class="fa fa-github fa-2x" aria-hidden="true" style="color:black"></i>
                </a>   
                &nbsp;&nbsp;
                <a href="yangpang1107@gmail.com">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true" style="color: black"></i>
                </a> 
                &nbsp;&nbsp;
                <a href="yangpang1107@gmail.com">
                    <i class="fa fa-rss fa-2x" aria-hidden="true" style="color: black"></i>
                </a> 
                <br>
                Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
              </div>
              <br>
              
              <br>
          </div>
        </footer>
        <label for="sidebar-checkbox" class="sidebar-toggle"></label>

        {% include javascripts.html %}
    </div>
   
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function(e) {
          var target = e.target;
          if (target === toggle) {
            checkbox.checked = !checkbox.checked;
            e.preventDefault();
          } else if (checkbox.checked && !sidebar.contains(target)) {
            /* click outside the sidebar when sidebar is open */
            checkbox.checked = false;
          }
        }, false);
      })(document);
    </script>
    {% if site.google_analytics_token %}
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', '{{ site.google_analytics_token }}', 'auto');
ga('send', 'pageview');
    </script>
    {% endif %}

  


  </body>

  {% if site.disqus_short_name %}
  <script id="dsq-count-scr" src="//{{ site.disqus_short_name }}.disqus.com/count.js" async></script>
  {% endif %}

  <!--Import jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

  <script>
    // Calculate total_blogging_date_dynamically
    $(document).ready(function() {
      var date_str = "{{ site.posts.last.date }}"; // 2017-05-31 00:00:00 +0900
      var today = new Date()
      today.setHours(0,0,0,0)
      var firstday = new Date(date_str.split(' ')[0])
      firstday.setHours(0,0,0,0)
      var total_date = ((today-firstday) / 86400000)+1; // calc datediff
      $("#dynamic_day").text(total_date);
    });
    // Calculate current_date_streak dynamically
    $(document).ready(function(){
      var latest_post_date_str = "{{ site.posts.first.date }}";
      var day_passed = Math.floor((Date.now() - Date.parse(latest_post_date_str.split(' ')[0])) / 86400000);
      // if latest posting date passed a day then reset to 0
      if (day_passed > 1) {
        $("#current_date_streak").text("0");
      }
    });
  </script>
  
</html>