---
layout: default
---

<div class="post">
  <h3 class="post-title" style="color: black;font-size: 25px" >     

      {{ page.title }}

  </h3>
  <big class="post-date">{{ page.date | date_to_string }}</big>
  <br>
  {% for categories in page.categories %}
    <a href="/Category/{{ categories }}" class="post-tag">{{ categories }}</a>
  {% endfor %}


  
 
  <article>
    {{ content }}
  </article>
</div>
<style>

</style>
{% for tag in site.categories %}
    {% for post in tag[1] %}
      {% if page.category == post.category %}
        {% if page.title == post.title %}
          {% assign count = tag | last | size %}
          {% assign current = forloop.index | minus:1 %}
          {% assign prev = forloop.index %}
          {% assign next = forloop.index | minus:2 %}
          <div>
            <div style="float: left">
            {% if count > prev %}
                <a href="{{ site.baseurl }}{{ tag[1][prev].url }}" style="text-align: left">
                  <span style="display: inline-block; border: 1px solid black; padding: 10px; color:black">
                    &nbsp;<i class="fa fa-arrow-left fa-1x" aria-hidden="true" style="color: black"></i> 
                    이전 글
                  </span>
                </a>
            {% endif %}
            </div>
            
            <div style="float: right">
            {% if next > -1 %}
                <a href="{{ site.baseurl }}{{ tag[1][next].url }}" style="text-align: right">
                  <span style="display: inline-block; border: 1px solid black; padding: 10px; color:black">
                    다음 글 
                    <i class="fa fa-arrow-right fa-1x" aria-hidden="true" style="color: black"></i>&nbsp;
                  </span>
                </a>
            {% endif %}
            </div>
          </div>
          <br><br><br>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
<hr/>
<div class="more-posts">
  <div class="more-category">
    {% for categories in page.categories %}
    <h4><b>'{{ categories }}'</b> 카테고리의 다른 글</h4>   
      <a href="/Category/{{ categories }}" class="more-button">더보기</a>
    {% endfor %}
  </div>
  <table>
    <tbody>
      {% assign cnt=0 %}
      {% for tag in site.categories %}
        {% for post in tag[1] %}
          {% if page.category == post.category %}
            {% if page.title == post.title %}
              {% assign cnt = cnt | plus:1 %}
              {% assign count = tag | last | size %}
              {% assign f = count | minus:1 %}
              {% assign a = count | minus:2 %}
              {% assign t = count | minus:3 %}
              {% assign current = forloop.index | minus:1 %}
              {% assign prev1 = forloop.index %}
              {% assign next1 = forloop.index | minus:2 %}

              {% assign prev2 = forloop.index | plus:1 %}
              {% assign next2 = forloop.index | minus:3 %}

              {% assign prev3 = forloop.index | plus:2 %}
              {% assign next3 = forloop.index | minus:4 %}

              {% assign prev4 = forloop.index | plus:3 %}
              {% assign next4 = forloop.index | minus:5 %}

              {% assign prev5 = forloop.index | plus:4 %}
              {% assign next5 = forloop.index | minus:6 %}

              {% assign prev6 = forloop.index | plus:5 %}
              {% assign next6 = forloop.index | minus:7 %}
              {% if count < 8 %}
                {% if cnt < 8 %}
                <tr>
                    <th class="more-posts-title">
                      <a class="more-posts-title" href="{{site.url}}{{post.url}}"> &nbsp;{{ post.title }} </a>
                    </th>
                    <td class="more-posts-date">{{ post.date | date:'%Y. %m. %d' }}</td>
                  </tr>
                {% endif %}
              {% endif %}
              {% if count > 7 %}
                {% if current == 0 %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev4].url}}"> &nbsp;{{ tag[1][prev4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev5].url}}"> &nbsp;{{ tag[1][prev5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev6].url}}"> &nbsp;{{ tag[1][prev6].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev6].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == 1 %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev4].url}}"> &nbsp;{{ tag[1][prev4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev5].url}}"> &nbsp;{{ tag[1][prev5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == 2 %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev4].url}}"> &nbsp;{{ tag[1][prev4].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == f %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next6].url}}"> &nbsp;{{ tag[1][next6].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next6].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next5].url}}"> &nbsp;{{ tag[1][next5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next4].url}}"> &nbsp;{{ tag[1][next4].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == a %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next5].url}}"> &nbsp;{{ tag[1][next5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next4].url}}"> &nbsp;{{ tag[1][next4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == t %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next4].url}}"> &nbsp;{{ tag[1][next4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current > 2 and current < t %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>


{% if site.disqus_short_name %}
<div class="comments">
  <h2>Comments</h2>
  <div id="disqus_thread"></div>
  <script>
var disqus_config = function () {
  this.page.url = '{{ site.url }}{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() {
  var d = document, s = d.createElement('script');
  s.src = '//{{ site.disqus_short_name }}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
