---
layout: default
---
<!--
<style>
  .back {
    background-image: url( "/public/img/알고리즘/선택정렬0.png" );
  }
</style>
-->
<div class="post">
  <div class="back">
  <h3 class="post-title" style="color: black;font-size: 30px" >     
        {{ page.title }}
  </h3>
  <big class="post-date">{{ page.date | date_to_string }}</big>
  <br>
  {% for categories in page.categories %}
    <a href="/Category/{{ categories }}" class="post-tag">{{ categories }}</a>
  {% endfor %}
  <br>
  <br>
  </div>
  
 
  <article class="post-article">
    <ins class="kakao_ad_area" style="display:none;" 
    data-ad-unit    = "DAN-FwcR4gnQAXHsS8Ih" 
    data-ad-width   = "728" 
    data-ad-height  = "90"
    width = "50%"></ins> 
    
    <ins class="kakao_ad_area" style="display:none;" 
    data-ad-unit    = "DAN-qyrWlNFETQBnOYnJ" 
    data-ad-width   = "320" 
    data-ad-height  = "100"
    width = "49%"></ins> 
    <div class="toc">
      {% include toc.html html=content %}
    </div>
    {{ content }}
    <br>
    <br>
    <br>
    <ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-BHgT46zL3yCgu8No" 
 data-ad-width   = "300" 
 data-ad-height  = "250"></ins> 
 <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  </article>
</div>
<style>

</style>
{% for tag in site.categories %}
    {% for post in tag[1] %}
      {% if page.category == post.category %}
        {% if page.title == post.title %}
          {% assign count = tag | last | size %}
          {% assign current = forloop.index | minus:1 %}
          {% assign prev = forloop.index %}
          {% assign next = forloop.index | minus:2 %}
          <div>
            <div style="float: left">
            {% if count > prev %}
                <a href="{{ site.baseurl }}{{ tag[1][prev].url }}" style="text-align: left">
                  <span style="display: inline-block; border: 1px solid black; padding: 10px; color:black">
                    &nbsp;<i class="fa fa-arrow-left fa-1x" aria-hidden="true" style="color: black"></i> 
                    이전 글
                  </span>
                </a>
            {% endif %}
            </div>
            
            <div style="float: right">
            {% if next > -1 %}
                <a href="{{ site.baseurl }}{{ tag[1][next].url }}" style="text-align: right">
                  <span style="display: inline-block; border: 1px solid black; padding: 10px; color:black">
                    다음 글 
                    <i class="fa fa-arrow-right fa-1x" aria-hidden="true" style="color: black"></i>&nbsp;
                  </span>
                </a>
            {% endif %}
            </div>
          </div>
          <br><br><br>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
<hr/>
<div class="more-posts">
  <div class="more-category">
    {% for categories in page.categories %}
    <h4><b>'{{ categories }}'</b> 카테고리의 다른 글</h4>   
      <a href="/Category/{{ categories }}" class="more-button">더보기</a>
    {% endfor %}
  </div>
  <table>
    <tbody>
      {% assign cnt=0 %}
      {% for tag in site.categories %}
        {% for post in tag[1] %}
          {% if page.category == post.category %}
            {% if page.title == post.title %}
              {% assign cnt = cnt | plus:1 %}
              {% assign count = tag | last | size %}
              {% assign f = count | minus:1 %}
              {% assign a = count | minus:2 %}
              {% assign t = count | minus:3 %}
              {% assign current = forloop.index | minus:1 %}
              {% assign prev1 = forloop.index %}
              {% assign next1 = forloop.index | minus:2 %}

              {% assign prev2 = forloop.index | plus:1 %}
              {% assign next2 = forloop.index | minus:3 %}

              {% assign prev3 = forloop.index | plus:2 %}
              {% assign next3 = forloop.index | minus:4 %}

              {% assign prev4 = forloop.index | plus:3 %}
              {% assign next4 = forloop.index | minus:5 %}

              {% assign prev5 = forloop.index | plus:4 %}
              {% assign next5 = forloop.index | minus:6 %}

              {% assign prev6 = forloop.index | plus:5 %}
              {% assign next6 = forloop.index | minus:7 %}
              {% if count < 8 %}
                {% if cnt < 8 %}
                  {% for tag in site.categories %}
                    {% for post in tag[1] %}
                      {% if page.category == post.category %}
                        {% if page.title == post.title %}
                        <tr>
                          <th class="more-posts-title">
                            <a class="more-posts-title" href="{{site.url}}{{post.url}}"> &nbsp;<U>{{ post.title }} </U></a>
                          </th>
                          <td class="more-posts-date">{{ post.date | date:'%Y. %m. %d' }}</td>
                        </tr>
                        {% endif %}
                        {% if page.title != post.title %}
                        <tr>
                          <th class="more-posts-title">
                            <a class="more-posts-title" href="{{site.url}}{{post.url}}"> &nbsp;{{ post.title }} </a>
                          </th>
                          <td class="more-posts-date">{{ post.date | date:'%Y. %m. %d' }}</td>
                        </tr>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              {% endif %}
              {% if count > 7 %}
                {% if current == 0 %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev4].url}}"> &nbsp;{{ tag[1][prev4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev5].url}}"> &nbsp;{{ tag[1][prev5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev6].url}}"> &nbsp;{{ tag[1][prev6].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev6].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == 1 %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev4].url}}"> &nbsp;{{ tag[1][prev4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev5].url}}"> &nbsp;{{ tag[1][prev5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == 2 %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev4].url}}"> &nbsp;{{ tag[1][prev4].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == f %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next6].url}}"> &nbsp;{{ tag[1][next6].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next6].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next5].url}}"> &nbsp;{{ tag[1][next5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next4].url}}"> &nbsp;{{ tag[1][next4].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == a %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next5].url}}"> &nbsp;{{ tag[1][next5].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next5].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next4].url}}"> &nbsp;{{ tag[1][next4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current == t %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next4].url}}"> &nbsp;{{ tag[1][next4].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next4].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }}</a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
                {% if current > 2 and current < t %}
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next3].url}}"> &nbsp;{{ tag[1][next3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next2].url}}"> &nbsp;{{ tag[1][next2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][next1].url}}"> &nbsp;{{ tag[1][next1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][next1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][current].url}}"> &nbsp;<U>{{ tag[1][current].title }}</U> </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][current].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev1].url}}"> &nbsp;{{ tag[1][prev1].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev1].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev2].url}}"> &nbsp;{{ tag[1][prev2].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev2].date | date:'%Y. %m. %d' }}</td>
                </tr>
                <tr>
                  <th class="more-posts-title">
                    <a class="more-posts-title" href="{{site.url}}{{tag[1][prev3].url}}"> &nbsp;{{ tag[1][prev3].title }} </a>
                  </th>
                  <td class="more-posts-date">{{ tag[1][prev3].date | date:'%Y. %m. %d' }}</td>
                </tr>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  var content = document.querySelector('.post-article"')
  var headings = content.querySelectorAll('h1, h2, h3, h4, h5, h6, h7')
  var headingMap = {}

  Array.prototype.forEach.call(headings, function (heading) {
      var id = heading.id ? heading.id : heading.textContent.trim().toLowerCase()
                 .split(' ').join('-').replace(/[\!\@\#\$\%\^\&\*\(\):]/ig, '')
      headingMap[id] = !isNaN(headingMap[id]) ? ++headingMap[id] : 0
      if (headingMap[id]) {
        heading.id = id + '-' + headingMap[id]
      } else {
        heading.id = id
      }
    })

  tocbot.init({
    tocSelector: '.toc',
    contentSelector: '.post-article"',
    headingSelector:'h1, h2, h3',
    hasInnerContainers: false
  });

  $(document).ready(function(){
   // $('.toc').addClass('toc-absolute');
   // $('.toc').addClass('toc-fixed');
    var toc_top = $('.toc').offset().top + 250;
    $(window).scroll(function() {
      if ($(this).scrollTop() >= toc_top) {
        //$('.toc').addClass('toc-fixed');
        //$('.toc').removeClass('toc-absolute');
      } else {
        //$('.toc').addClass('toc-absolute');
        //$('.toc').removeClass('toc-fixed');
      }
    });
  });

</script>
<script>
    function getTOCNodes(master) {
      var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
      var tocNodes = nodes.filter(function(elem) {
          return elem.tagName == "A";
      });
      return tocNodes;
    }
    function getHeaderNodes(master) {
      var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
      var headerNodes = nodes.filter(function(elem) {
          return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
      });
      return headerNodes;
    }
  
    var title = document.getElementsByClassName("post-title")[0];
    var titleY = window.pageYOffset + title.getBoundingClientRect().top;
    
    var article = document.getElementsByClassName("post-article")[0];
    var articleY = window.pageYOffset + article.getBoundingClientRect().top;
  
    var toc = document.getElementsByClassName("toc")[0];
  
    var headerNodes = getHeaderNodes(article);
    var tocNodes = getTOCNodes(toc);
  
    var before = undefined;
  
    document.addEventListener('scroll', function(e) {
      if (window.scrollY >= articleY-60) {
        toc.style.cssText = "position: fixed; top: 60px;";
      }
      else {
        toc.style.cssText = "";
      }
  
      var current = headerNodes.filter(function(header) {
        var headerY = window.pageYOffset + header.getBoundingClientRect().top;
        return window.scrollY >= headerY - 60;
      });
  
      if (current.length > 0) {
        current = current[current.length-1];
  
        var currentA = tocNodes.filter(function(tocNode) {
          return tocNode.innerHTML == current.innerHTML;
        })
        
        currentA = currentA[0];
        if (currentA) {
          if (before == undefined) before = currentA;
  
          if (before != currentA) {
            before.classList.remove("toc-active");
            before = currentA;
          }
  
          currentA.classList.add("toc-active");
        }
        else {
          if (before) 
            before.classList.remove("toc-active");
        }
      }
      else {
        if (before) 
            before.classList.remove("toc-active");
      }
  
    }, false);
  </script>